<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/assets/logo.jpg" width="30" height="30">
    Proyecto
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" dropdown>
      <li><a class="nav-item nav-link" routerLink="/" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"> Inscripcion</a></li>
      <li><a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Ver Inscripciones</a></li>

      <li><a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Precios</a></li>

      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/">Agregar Cliente</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/">Ver Clientes</a>
        </div>
      </li>

      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/">Subscripciones diarias</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/">Subscripciones mensuales</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/">Mas Vendidas</a>
        </div>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li><button class="btn btn-danger">Cerrar Sesion</button></li>
    </ul>
  </div>
</nav>



<router-outlet></router-outlet>